<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>

  <!-- Bootstrap -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/main.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <form method="POST" action="/user">
    <h1>Register</h1>
    <div class="form-group">
      <label for="InputUsername">Username</label>
      <input type="text" class="form-control" id="inputUsername" placeholder="Enter userName" name="user[userName]">
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="text" class="form-control" id="inputPassword" placeholder="Password" name="user[password]">
    </div>
    <label for="InputPassword">Confirm Password</label>
    <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Confirm Password">
    <button type="password" class="btn btn-primary btn-lg active">Submit</button>
    <a href="http://localhost:3000/login" class="btn btn-primary btn-lg active" role="button">I has Account!</a>
  </form>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
