<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" href="/stylesheets/main.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <!-- Underscore -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- app.js -->
  <script src="javascripts/app.js"></script>
  <!-- Bootstrap -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Story Time</title>
</head>

<body>
  <div class="container-fluid" id="page-wrapper">
    <!-- header -->
    <header class="page-header">
      <h1 class="text-center">The Tallest Tale</h1>
    </header>
    <div class="content"> <p id="storyWords">  </p>  </div>
    <form class="story" id="story-content">
      <textarea class="form-control" id="txtme" type="text" rows="5" cols="40" placeholder="Feed the words to meee"></textarea>
      <button class="btn btn-primary btn-lg" type="submit">Send The Words</button>
    </form>
  </div>
</body>


<!-- Underscore templates -->
<!-- <span class="label label-default">Default</span> -->


</html>
